<ul>
    <li>Intermediate
        <ul><li>Science
            <ul><li>PCM(physics,Maths,Chemistry)
                <ul><li>B.tech</li>
                <ul><li>Mechanical Engineering</li>
                <li>Civil Engineering</li>
                <li>Computer Science and Engineering</li>
                <li>Electronics and communication Engineering</li>
                <li>chemical Engineering</li>
                <li>Electrical</li>
                <li>Aerospace Engineering</li>
                <li>Biotechnology</li>
                <li>Automobile Engineering</li>
                <li>biomedical Engineering</li>
                <li>Mechatronics</li></ul>
            <li>N.D.A
                <ul><li>Navy</li>
                <li>Army</li>
            <li>Airforce</li></ul>
            </li></ul>
            </li>
            <li>PCMB(physics,che,Maths,Biology)
                <ul><li>Bachelor of Pharmacy</li><ul><li>M.B.A</li><li>Master in Pharmacy</li></ul></ul>
            </li>
            </ul>
            
        </li>
        
        <li>Commerce</li>
        <li>Arts</li>
        </ul>
    </li>
</ul>