<div class="container">
    <div class="row">
      <div class="col-4">
        <dt>Management</dt>
        <hr>
        <dl>CAT</dl>
        <dl>XAT</dl>
        <dl>SNAp</dl>
        <dl>Mat</dl>
        <dt>
            Engineering
        </dt>
        <hr>
        <dl>JEE MAIN</dl>
        <dl>EAMCET</dl>
        <dl>ECET</dl>
        <dl>JEE Advanced</dl>
        <dl>GATE</dl>
        <dl>NATA</dl>
      </div>
      <div class="col-4">
        <dt>
            CIVIL SERVICES
        </dt>
        <hr>
        <dl>UPSC</dl>
        <dl>SSC</dl>
        <dl>Railways</dl>
        <dl>Defence</dl>
        <dt>
            Medical
        </dt>
        <hr>
        <dl>AIMPT</dl>
        <dl>NEET</dl>
        <dl>AIIMS MBBS</dl>
        <dl>AIIMS Nursing</dl>
      </div>
      <div class="col-4">
        <dt>
            LAW
        </dt>
        <hr>
        <dl>CLAT</dl>
        <dl>AILET</dl>
        <dl>LSAT India</dl>
        <dl>AIBE</dl>
        <dt>
            International exams
        </dt>
        <hr>
        <dl>GMAT</dl>
        <dl>GRE</dl>
        <dl>TOEFL</dl>
        <dl>IELTS</dl>
        <dl>SAT</dl>
        <dl>PTE</dl>
      </div>
    </div>
  </div>