<div class="div1 container">
    <h3>What after 10th?Are you confused?</h3>
    <img src="../../assets/pho.png" id="img1">
    <p id="p1">It isn't easy to decide on career option that will determine the rest of your life for you, especially at
        the tender age of 16 or 17. It does not help that often even parents are left confused about the right advice to
        give. The confusion a student faces is huge and varied in nature.</p>
    <ul class="text-muted">
        <li>Should I continue with Science and opt for a B.Sc. degree?
        </li>
        <li>Should I switch to Commerce?</li>
        <li>Should I opt for a three-year regular course?</li>
        <li>Should I go for a correspondence degree?</li>
        <li>Should I go for professional careers such as CA, CS or Journalism?</li>
    </ul>
    <p id="p1">If you have scored less than expected in your class 10, there is no need to panic or become anxious. The
        fact of that matter is that in today's age of self-starters the number of options open to you are varied and
        many. It is not advisable to make hasty, unplanned decisions dues to peer/parental pressure. It's important to
        pursue a field you are truly passionate about.</p>
    <h3 class="mt-2">Mistakes students make while choosing their career after 10th</h3>
    <dl>
        <dt>1. Following the crowd/friends </dt>
        <dd>This is one of the most common mistakes which most of the students unknowingly make. Many students just take
            up any stream because their friends have decided to take that stream. This can turn out to be the worst
            decision of their lives. </dd>
        <dd>It is necessary that you chose the stream which you are most passionate about rather than doing what most of
            the students are doing.</dd>
        <dt>2. Parental/Societal pressure</dt>
        <dd>Let’s look at a common scenario.</dd>
        <dd>You: Dad, I want to take up Arts stream</dd>
        <dd>Dad: There is no future in the Arts stream. You have to take up science. Look at Sharma Jis son. He had
            taken up science stream and he is doing very well in life.</dd>
        <dd>I am sure many students would have faced this situation. I am sure, that many parents would have given the
            examples of some Sharma or Gupta to influence the decision of their child. This can lead to a flawed career
            decision.</dd>
        <dt>3. Lack of knowledge</dt>
        <dd>There are a plethora of career options after 10th. If we go back 10-20 years ago, there were very fewer
            career options to choose from. But now the scenario is completely different. There are many career options
            available and with the help of proper career guidance and career counselling, you can see the light at the
            end of the tunnel.</dd>
    </dl>
    <h3 class="mt-2">What are the career options after 10th class?
    </h3>
    <p id="p2">Picking the right career option after 10th is probably the most important decision of your life and
        should not be taken in a hurry. Let us see how you can choose the right career path after 10th: </p>
    <dl>
        <div class="ms-3">
            <dt>Intermediate (2years)</dt>
            <dd>After 10th class, the student can select subject groups like PCM, PCB, PCMB, Commerce with Maths,
                Commerce without Maths. Post completion of 12th class, one can do graduation in multiple disciplines
                based on the subject selection.</dd>
            <dt>Polytechnic</dt>
            <dd>After 10th class, students can do polytechnic courses like Mechanical, Civil, Chemicals, Computer,
                Automobile. Polytechnic colleges offer diploma courses for a duration of 3 years, 2 years and also 1
                year.</dd>
            <dt>ITI</dt>
            <dd>(Industrial Training Institutes)After 10th class, students can do ITI courses for employment like
                Mechanical, electrician, electrical.</dd>
            <dt>Paramedical</dt>
            <dd>After 10th class, students can do paramedic courses like DMLT (Diploma in Medical Laboratory
                Technology), DOA(Diploma in Ophthalmic Assistant), DOT (Diploma in Ophthalmic Assistant).</dd>
            <dt>Short term courses</dt>
            <dd> After 10th class, students can do short term courses like Tally, DTP, Graphics.</dd>
        </div>
    </dl>
</div>